<meta name="viewport" content="width=device-width" />
<html ng-app="warapp">
<head>
  <title>Graph for atmospheric pressure changes</title>
<link rel="stylesheet" type="text/css" href="./styles.css"/>
<script src="./q.min.js"></script>
<script src="./angular.min.js"></script>
<script src="./warapp/main.js"></script>
</head>
<body>
    <div id='content' ng-controller="WargamingController" ng-cloak>
        <input type='text' ng-model='first_user'>
        <input type='text' ng-model='second_user'>
        <button ng-click='compareUsers()' value='Compare'>
    </div>
  </div>
</body>
</html>
