<!DOCTYPE html>
<meta name="viewport" content="width=device-width" />
<html ng-app="warapp">
<head>
  <title>Compare users</title>
<link rel='stylesheet' type='text/css' href='./css/bootstrap.min.css'/>
<link rel='stylesheet' type='text/css' href='./css/styles.css'/>

<script src="./lib/angular.min.js"></script>
<script src="./warapp/Comparison.js"></script>
<script src="./warapp/WargamingAPI.js"></script>
<script src="./lib/q.min.js"></script>
<script src="./warapp/main.js"></script>
</head>

<body>
    <div id='content' ng-controller="WargamingController as warCtrl" ng-cloak class='text-center'>
      <form role='form' class='form-inline'>
        <div class='form-group'>
            <input class='form-control' type='text' ng-model='warCtrl.first_user' value='zopikrotik'>
        </div>
        <div class='form-group'>
            <input class='form-control' type='text' ng-model='warCtrl.second_user' value='123'>
        </div>
        <button class='btn btn-default' ng-click='warCtrl.compareUsers()' value='Compare'>Compare</button>
      </form>

      <div class='row'>
        <div class='col-xs-4'>
          {{warCtrl.first_obj.countMedals()}}
        </div>
        <div class='col-xs-4' ng-show='warCtrl.first_obj.countMedals()'>
          Medals
        </div>
        <div class='col-xs-4'>
          {{warCtrl.second_obj.countMedals()}}
        </div>
      </div>

        <!--<div class='col-xs-4'>
          {{compared.compare_data[0]}}
        </div>
        <div class='col-xs-4'>
          <img ng-src="{{warCtrl.war_api.getAchievementObject(compared.name).image}}" class='img-responsive center-block'></img>
          {{warCtrl.war_api.getAchievementObject(compared.name).name_i18n || compared.name}} - {{warCtrl.war_api.getAchievementObject(compared.name).description}}
        </div>
        <div class='col-xs-4'>
          {{compared.compare_data[1]}}
        </div>-->
        <achievement-compare class='row' ng-repeat='compared in warCtrl.compare_object.getComparedAchievements()' ng-class="compared.color(compared.name)" ng-hide='warCtrl.showChart' compared="compared"></achievement-compare>

      <nvd3 options="warCtrl.chart_options" data="warCtrl.compare_object.getD3ComparedData()" ng-show='warCtrl.showChart'></nvd3>
    </div>

</body>
</html>
